
// // =============== large
// @media screen and (max-width: 1500px)

// =============== tablet 
@media screen and (max-width: 1199px)
    .cashier
        padding: 50px 0
    .container
        max-width: 95%
    .header
        &-nav
            position: absolute
            width: 100%
            height: 50vh
            background: #fff
            left: 0
            top: 0
            justify-content: center
            z-index: 999
            display: flex
            flex-direction: column
            padding: 20px
            display: none
        .nav-list
            flex-direction: column
            align-items: center
            height: 100%
        .burger
            display: block

    .main
        flex-direction: column
        &__left,&__right
            width: 100%

        &__right
            display: flex
            justify-content: flex-end

    .cashier
        flex-direction: column
        &__left,&__right
            width: 100%
        &__left
            margin-bottom: 30px
        &__right
            justify-content: center
        &__video
            height: 210px
            width: 310px
            object-fit: cover

// =============== mobile
@media screen and (max-width: 767px)

    .text
        &_title
            &-main
                font-size: 25px
            &-redular
                font-size: 22px
        &_regular
            font-size: 14px
    .title-default
        margin-bottom: 40px
        &::before
            bottom: -15px

    .parallax
        &-block
            &__main
                &-phone
                    max-width: 400px
                &-card
                    max-width: 250px
                    left: 0

    .main
        flex-direction: column
        &__left
            margin-bottom: 50px
    .cashier
        &__list
            &-item
                &-icon
                    img
                        min-width: 45px
                        max-width: 45px
