
// // =============== large
// @media screen and (max-width: 1500px)

// =============== tablet 
@media screen and (max-width: 1199px)
    .header
        &-nav
            position: absolute
            width: 100%
            height: 50vh
            background: #fff
            left: 0
            top: 0
            justify-content: center
            z-index: 999
            display: flex
            flex-direction: column
            padding: 20px
            display: none
        .nav-list
            flex-direction: column
            align-items: center
            height: 100%
        .burger
            display: block

// =============== mobile
// @media screen and (max-width: 767px)
