mixin cashier-mob_screen 
	+b.cashier-wrap.wrap
		+b.cashier.container
			+e.left
				+b.P.main-title.title-default.text_title-redular._dark Работа с мобильной кассой
				+b.P.main-sub-title.sub-title-default.text_regular._light Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции влечет за собой
				+e.list
					+e.list-item
						+e.list-item-icon 
							img(src="./img/anonymous.png", alt="alt")
						+e.list-item-text 
							+e.P.list-item-title.text_title-small._dark Анонимно
							+e.P.list-item-info.text_small._light Значимость этих проблем настолько очевидна, что так начало повседневной работы по формированию 
					+e.list-item
						+e.list-item-icon 
							img(src="./img/anonymous.png", alt="alt")
						+e.list-item-text 
							+e.P.list-item-title.text_title-small._dark Анонимно
							+e.P.list-item-info.text_small._light Значимость этих проблем настолько очевидна, что так начало повседневной работы по формированию 
					+e.list-item
						+e.list-item-icon 
							img(src="./img/anonymous.png", alt="alt")
						+e.list-item-text 
							+e.P.list-item-title.text_title-small._dark Анонимно
							+e.P.list-item-info.text_small._light Значимость этих проблем настолько очевидна, что так начало повседневной работы по формированию 

			+e.right
				+e.VIDEO.video(poster="./img/video-poster.png" )
					source(src="./img/Ultra HD 4k.mp4"  type="video/mp4")                    