mixin main_screen 
	+b.main-wrap.wrap
		+b.main.container
			+e.left
				+e.text-block 
					+b.P.main-title.title-default.text_title-main._dark Зарабатывай вместе с 1xBet
					+b.P.main-sub-title.sub-title-default.text_regular._light Cтань агентом, принимай деньги, пополняй счет и делай выводы игрокам или создай свою агентскую сеть и получай комиссию
					+b.A(href="#").btn_default.btn_big Стать агентом
			+e.right
				+b.parallax-block 
					+e.IMG(src="../img/round.svg").round
					+e.IMG(src="../img/phone-main.png").main-phone
					+e.IMG(src="../img/card.png").main-card