mixin opportunities_screen 
    +b.opportunities-wrap.wrap
        +b.opportunities.container
            +e.text-block 
                +b.P.main-title.title-default_center.text_title-main._dark Возможности агента
                +b.P.main-sub-title.sub-title-default_center.text_regular._light Компания 1xBet разработала специальное мобильное приложение, которое позволит Вам принимать ставки и делать выплаты в любом месте! Интуитивно понятная система поможет упростить работу с принятием ставок оффлайн и увеличить охват игроков
            +e.block 
                +e.item 
                    +e.item-img 
                        img(src="./img/opportunities-item.png", alt="alt").icon
                    +e.item-title-block 
                        +e.P.item-title.text_title-small._dark Принимать депозиты и пополнять балансы игроков 
                +e.item 
                    +e.item-img 
                        img(src="./img/opportunities-item-2.png", alt="alt").icon.icon_second
                    +e.item-title-block 
                        +e.P.item-title.text_title-small._dark Делать выводы с пользовательских аккаунтов и выплачивать их наличными