mixin security_screen 
    +b.security-wrap.wrap
        +b.security.container
            +e.left
                +b.parallax-block#scene
                    +e.IMG(src="../img/round.svg").round
                    +e.IMG(src="../img/phone-security.png").main-phone(data-depth="0.2")
                    +e.IMG(src="../img/Shield.png").main-card
            +e.right
                +b.P.main-title.title-default.text_title-redular._dark Высокая безопастность
                +b.P.main-sub-title.sub-title-default.text_regular._light Используется банковская система хранения информации 256-битное шифрование и двухфакторная аутинтефикация
                +b.P.main-sub-title.sub-title-default.text_regular._light Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание форм
                